
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.header{
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(226, 123, 123);
}
